## Bookmarks tagged [[formal-verification]](https://www.bookmarks.dev/search?q=[formal-verification])

_<sup><sup>[www.bookmarks.dev/tagged/formal-verification](https://www.bookmarks.dev/tagged/formal-verification)</sup></sup>_
---
#### [CATG](https://github.com/ksen007/janala2)
_<sup>https://github.com/ksen007/janala2</sup>_

Concolic unit testing engine. Automatically generates unit tests using formal methods.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
* :octocat: **[source code](https://github.com/ksen007/janala2)**
---
#### [Checker Framework](https://types.cs.washington.edu/checker-framework)
_<sup>https://types.cs.washington.edu/checker-framework</sup>_

Pluggable type systems. Includes nullness types, physical units, immutability types and more.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
#### [Daikon](https://plse.cs.washington.edu/daikon)
_<sup>https://plse.cs.washington.edu/daikon</sup>_

Detects likely program invariants and generates JML specs based on those invariants.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
#### [Java Path Finder (JPF)](JPF)
_<sup>JPF</sup>_

JVM formal verification tool containing a model checker and more. Created by NASA.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
#### [JMLOK 2.0](http://massoni.computacao.ufcg.edu.br/home/jmlok)
_<sup>http://massoni.computacao.ufcg.edu.br/home/jmlok</sup>_

Detects inconsistencies between code and JML specification through feedback-directed random tests generation, and suggests a likely cause for each nonconformance detected.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
#### [KeY](https://key-project.org)
_<sup>https://key-project.org</sup>_

Formal software development tool that aims to integrate design, implementation, formal specification, and formal verification of object-oriented software as seamlessly as possible. Uses JML for specif...
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
#### [OpenJML](https://openjml.github.io)
_<sup>https://openjml.github.io</sup>_

Translates JML specifications into SMT-LIB format and passes the proof problems implied by the program to backend solvers.
* **tags**: [java](../tagged/java.md), [formal-verification](../tagged/formal-verification.md)
---
